[2018-10-08 14:32] vrothberg opened #24 "add a favicon"
I think it would be nice to add a favicon to podman.io. Maybe the seals of the [podman logo](https://github.com/containers/podman.io/blob/master/images/podman.svg) can be reused?

[2018-10-08 16:55] TomSweeneyRedHat commented on #24
In the works right @sanjabonic ?  (Ditto buildah.io)

[2018-10-10 17:15] #24 closed

[2019-02-02 23:53] gbraad opened #72 "Wrong order in alias"
https://github.com/containers/podman.io/blob/8b476d7e56d3563c71f5b884e2d339b624ab9d5e/index.html#L23

Shouldn't this have been `alias docker="podman"` instead?

so:
[code]
would actually invoke:
[code]

Ref: https://github.com/containers/podman.io/pull/67/files#r253282319

[2019-02-03 00:32] #72 closed

[2019-03-22 14:17] wjt opened #83 "Unclear from website what Podman does"
My understanding is that the important features of Podman, in isolation, are:

* it can pull, create, run and manage containers
* it supports the OCI and Docker image formats
* it runs each container directly, not via a system daemon
* it does not need any privileges on the host system

(Maybe I'm wrong!) But if you don't already know what Podman is, https://podman.io/ is surprisingly little help.

[2019-03-22 16:19] rhatdan commented on #83
@wjt Thanks for your input.  We would love to have you open a PR to change this to look the way you suggest.

[2019-04-16 12:23] mattiasb opened #93 "podman.io/feed.xml has bad podman.io urls"
Hi!

I'm following podman development with my feedreader and the URL's pointing to podman.io look like this most of the time:
[code]
Note the *single* `/` there after `https:`!

This makes the links from my feed reader not working correctly (I end up at `https://podman.io/podman.io/new/2019/04/16/new.html`) 😢

[2019-04-16 13:39] TomSweeneyRedHat commented on #93
@mattiasb Thanks for the issue and the PR.  It does look like you've fixed the issue, but will wait for one more LGTM to merge it in.

[2019-04-17 15:50] #93 closed

[2019-04-18 14:09] hook-s3c opened #96 "omg, what is wrong with you"
been on your website - distinct lack of explaining what podman is and what problem it solves

"What is Podman? Simply put: `alias docker=podman`"

my #2 pet peeve after poor setup instructions

thanks!

[2019-04-18 14:11] rhatdan commented on #96
@hook-s3c Thanks for your input.  What would you like to see?  PR's to help cleanup and improve documentation are always appreciated.

[2019-04-18 14:14] rhatdan commented on #96
How about
[code]
Then link off to a more in depth description?

[2019-04-18 14:55] TomSweeneyRedHat commented on #96
#95 is in progress to hopefully help with this.
If you could let me know what issues you're having with the install instructions, I'm happy to try and clear them up.

[2019-04-19 02:17] kaceo commented on #96
I only found out about Podman last night from a Youtube clip.  I would like to see a more basic explanation of Podman with less assumption of knowledge of Docker.  Also it would be nice if you spell out whether the current releases of both projects are on feature parity, without having to read through all the blog posts?  I am already deploying Docker (and docker-compose) for the past year and it

[2019-04-20 18:15] TomSweeneyRedHat commented on #96
Fixed with #95.  If you can tell us where the problems with the install instructions are, feel free to reopen this or better yet start a new issue on the Podman Github [issues](https://github.com/containers/libpod/issues).

[2019-04-20 18:15] #96 closed

[2019-07-06 02:30] robbyoconnor opened #117 "Website Design is not at all responsive"
## What are the issues
1. The nav menu should not dominate as it does for example on mobile:
![image](https://user-images.githubusercontent.com/23088/60750264-0c20a700-9f74-11e9-9fd8-16d5e00bbc2f.png)

I have to actually scroll vertically to see the actual content which is bad design. This goes against every best practice.

2. So much wasted space:
![image](https://user-images.githubusercontent.co

[2019-07-08 21:15] rhatdan commented on #117
Could you open a PR against podman.io to fix these issues.

[2019-07-09 16:58] robbyoconnor commented on #117
From the initial comment at the start of "Proposals to improve it" heading:

No -- I'm not redesigning the website, it's outside of my area of comfort.

I opened an issue to give feedback and actual suggestions to improve it. I'm shocked there wasn't an issue like this prior.

[2019-07-09 18:20] rhatdan commented on #117
Thanks @robbyoconnor.  It is also outside of my comfort zone.  I was hoping to get outside contributors to help with this issue.

The person in charge of the web sites is away on vacation right now.

[2019-07-09 20:41] robbyoconnor commented on #117
it really does reflect poorly on the project -- esp. one with the backing of Red Hat when the website is this bad. It'd be better if the website simply didn't exist -- or heck just use sphinx with a reathedocs theme...anything is better than what you have right now.

[2019-07-16 18:37] TomSweeneyRedHat commented on #117
@sanjabonic any thoughts/ideas?

[2019-08-14 14:30] mattdombrowski21 opened #123 "Networking Issue on System Reboot"
I seem to have found an interesting bug dealing with how the container networking is setup on system reboots. The container I am trying to run is created and launched by systemd and is enabled on restart.
Here is the service file for my container:
[code]

Right off the bat, there is no way to reach the container externally on port 3128. Sending a ping to 1.1.1.1 from within the container results i

[2019-08-14 14:53] #123 closed

[2019-08-14 14:53] mattdombrowski21 commented on #123
I realized this was not the right place to open this issue.

[2019-08-18 11:44] m4d3bug opened #127 "where is the registries.conf?"
**I started my podman with the following installation steps.**
[code]
**did not find /etc/containers/registries.conf.
and got this echo.**
[code]
Here are my system info:
[code]

[2019-08-18 11:52] rhatdan commented on #127
On fedora registries.conf comes from the containers-common package.
@lsm5 PTAL

[2019-08-20 14:23] m4d3bug commented on #127
any update？

[2019-08-20 14:47] rhatdan commented on #127
Easiest would be to just grab the registries.conf from https://github.com/containers/image/blob/master/registries.conf  and copy it to /etc/containers/registries.conf and populate it there.

[2019-10-14 10:45] rodris-gimba opened #135 "Podman error to pull image from Artifactory"
When i try to **pull any image from artifactory**, I received the error:

The same image pulled with Docker doesn't return this error and the result is succesful.

Does anyone have the same problem or a solution for this? Thanks.

[2019-10-14 14:14] TomSweeneyRedHat commented on #135
@rodris-gimba this project is used for the podman.io blog site.  The project where Podman lives and errors should be reported to is:  https://github.com/containers/libpod.  I've moved this issue there at:
https://github.com/containers/libpod/issues/4254

I'm going to close this.

[2019-10-14 14:14] #135 closed

[2019-10-14 14:32] TomSweeneyRedHat commented on #127
I'm going to close this as it's been a while and the issue should have been posted against the Podman project, not the blog project for Podman.  If this is still an issue, please open a new issue on https://github.com/containers/libpod/issues

[2019-10-14 14:32] #127 closed

[2019-10-27 23:15] psimyn opened #142 "Getting Started page duplication"
The [Getting Started](https://podman.io/getting-started/) page only has two links: installation instructions and [getting-started/getting-started](https://podman.io/getting-started/getting-started).

Moving the actual instructions to `/getting-started` would save people an extra click. Especially not needed since the first step on `getting-started/getting-started` is 'Install'

[2019-10-28 13:06] rhatdan commented on #142
@psimyn Could you open a PR to fix this?

[2019-10-28 13:17] TomSweeneyRedHat commented on #142
@jberkus WDYT?

[2019-10-28 13:50] TomSweeneyRedHat commented on #142
@psimyn thanks for the issue.  I'm only slightly hesitant to make the proposed change as @jberkus had set that page up and I think he'd plans for adding further links there, but I'm not 100% sure.  Would like to hear from him.

[2019-10-29 01:21] psimyn commented on #142
sure, will wait and happy to make PR if needed.

If the plan is adding more links we could add the list at the top, followed by content of the current `getting-started/getting-started` page.

thanks everybody

[2019-10-29 02:10] jberkus commented on #142
Seems fine.  Really the current structure is there because I was copying over from libpod/installation direction.

[2019-10-29 12:55] rhatdan commented on #142
Ok. @psimyn Please open a PR to clean this up.

[2019-10-31 18:58] #142 closed

[2019-11-19 12:55] stappersg commented on #83
Meanwhile did #95 get merged.

So this issue should now be retitled to  _what is page is unclear about what Podman does_.

[2019-11-19 13:00] stappersg commented on #117
With options
1. be better if the website simple didn't exist
2. just use sphinx with a reathedocs theme

I prefer option 2.

Yes, the _really does reflect poorly on the project_ is true.

[2019-11-19 13:35] rhatdan commented on #117
@stappersg This is a community project, something the engineers are doing in the spare time.  We don't have a web site designer or documentation people working on this.  Red Hat Documentation and web site design go into products, not `projects`.   We need to rely on community to fixup the site.

We met last week to discuss how we want the web site to look ad have been working on a readthedocs site

[2019-11-19 14:45] wjt commented on #83
Sorry for dropping the ball on this. The extra two sentences here:

make a *huge* difference, and the linked page clears up more details. Thanks!

[2019-11-19 14:45] #83 closed

[2019-11-19 16:46] robbyoconnor commented on #117
When I opened this issue -- I kept that in mind. I wanted to raise it as
an issue because it was necessary, but also wanted to do it in the most
tactful way possible...or at least not sound rude or condescending.

On 11/19/19 8:35 AM, Daniel J Walsh wrote:

[2019-11-20 22:04] TomSweeneyRedHat commented on #83
@stappersg yes, #95 was merged.
@wjt thanks for the follow up

[2019-11-29 13:25] assarbad opened #162 "Documentation refers to wrong URL"
Coming from [here](https://podman.io/getting-started/installation.html) I ended up on [this page](https://github.com/containers/image/blob/master/docs/registries.conf.5.md) after clicking the link that was supposed to lead me to the man page for **registries.conf.5**, but the proper link appears to be [this one instead](https://github.com/containers/image/blob/master/docs/containers-registries.con

[2019-12-01 21:43] assarbad commented on #162
Replaced by #164

[2019-12-01 21:43] #162 closed

[2019-12-02 12:08] pfix opened #165 "IP address"
The paragraph in  https://github.com/containers/podman.io/blob/master/getting-started/index.md#testing-the-httpd-server starts with "Now that we have the IP address of the container". But in the previous paragraph it is pointed out, that there is no IP address.

[2019-12-02 15:59] rhatdan commented on #165
@TomSweeneyRedHat PTAL

[2019-12-09 19:43] daniel-wtd commented on #165
If you need some support with the getting started guide, please feel free to give me a ping. :+1:

[2019-12-09 23:15] TomSweeneyRedHat commented on #165
@daniel-wtd be my guest!  All help gratefully accepted!

[2019-12-13 22:26] jvillal-amp opened #168 "podman cp container:dir_path/. existing_dir/ not working as expected"
The docker docs https://docs.docker.com/engine/reference/commandline/cp/ say that when copying and the SRC_PATH ends with "/." and the DEST_PATH is a directory that it will copy the contents of SRC_PATH to DEST_PATH.

Podman is copying the SRC_PATH to DEST_PATH and not the contents of SRC_PATH.

For example I do:
[code]

Which is not working as the 'docker cp' documentation says it should be. It s

[2019-12-16 17:41] rhatdan commented on #168
If you think this is a bug in podman please open an issue on github.com/containers/libpod.

[2019-12-16 18:21] jvillal-amp commented on #168
Okay

[2019-12-16 18:21] #168 closed

[2019-12-30 19:09] DSSDEV-Repo opened #172 "Podman installation - Simple question"
Am I supposed to install Docker before installing Podman?

Does Podman require Docker in order to run correctly?

I assumed that Podman could be installed without Docker, but if I just install Podman, then a lot of things don't work properly.

[2019-12-31 11:45] rhatdan commented on #172
Podman does not require Docker, the goal is a replacement of the Docker CLI.  Currently Podman does not support the Docker socket, so if you app requires access to the Docker socket, then Podman will not solve this.

If something does not work that you can do at the CLI, then we would love to hear these issues, reported at https://github.com/containers/libpod.

[2020-01-02 15:23] DSSDEV-Repo commented on #172
I can not connect to my GitHub repository from PodMan.
And, I can not seem to get a login for my repository, on a server that does not have Docker installed already.
The repository was created, and accessed using standard Docker, and I can still get to it, using a server that has Docker installed on it, but not from the Podman only server.

[2020-01-02 15:39] rhatdan commented on #172
I am not sure what commands are failing.  Could you give the exact command line that fails, on podman but works on Docker.

[2020-01-05 05:19] anarcat opened #174 "dead links galore"
it seems dead links are not checked when changes are pushed to this repository, or at least there isn't a job doing that regularly, because I can easily find some. ;) I don't remember the ones I found the last time (and unfortunately did not report), but today I found two in the [whatis page](https://podman.io/whatis.html):

 * [podman-play-kube](https://github.com/containers/libpod/blob/master/do

[2020-01-06 13:57] rhatdan commented on #174
Thanks @anarcat would you like to open a PR to fix the links?

[2020-01-06 16:40] anarcat commented on #174
i'm kind of busy right now, and this was more a meta-issue than those specific two... i would suggest to create a CI step to check the links on push, so that this doesn't occur again. and while I could fix those links with a rather small PR, this will happen again unless such a process is setup. and that part i'm not familiar enough with to fix.

[2020-01-06 20:23] anarcat commented on #174
@rhatdan PR in #175 but the broader issue will need more work.

[2020-01-06 20:54] anarcat commented on #174
@TomSweeneyRedHat asked in #175 which tools can be used to automate such checks... since this is a static website, what you want is a link checker. i happen to have inherited the maintenance of such a tool, called exactly that, [linkchecker](https://github.com/linkchecker/linkchecker/). it's kind of clunky and old, but it generally works. by default, it spiders the whole site but doesn't check ext

[2020-01-14 10:58] daniel-wtd commented on #165
Started to work on this.

[2020-01-14 11:15] daniel-wtd commented on #174
Another solution would to use a tool like textlint for markdown files. This can also be used for many other use cases like line length, trailing whitespace, wording, spell checks, etc.

If you want to stick with ruby (because of jekyll), there is a tool called htmlproofer, which can be used right after the jekyll build to check the generated html for validity.

[2020-01-15 11:23] rhatdan commented on #174
I don't think we are against any of these tools.  If we get contributors who want to add PRs to verify the content, then we would definitely consider it.

[2020-03-13 12:48] saschagrunert opened #206 "Podman logos for each blog post"
Hey :wave:,

Just saw that we add the podman logo for each blog post which looks a bit noisy from my perspective:
![logos](https://user-images.githubusercontent.com/695473/76622188-4b56bd00-6531-11ea-83fb-dfa104b17b61.gif)

Do you think we could remove them and stick to a single logo on top?

[2020-03-15 21:25] pangorgo opened #207 "Amazon Linux 2 installation guide incomplete (missing container-selinux)"
It seems provided installation steps for Amazon Linux 2 are incomplete.

After adding kubic repo and running `yum install podman` it throws message about missing `container-selinux` dependency:

[code]

[2020-03-16 14:57] TomSweeneyRedHat commented on #207
@lsm5 do you know what needs adjusting?

[2020-03-16 15:13] lsm5 commented on #207
@pangorgo can you check if container-selinux is available in the rhel extras channel? I'm guessing Amazon linux would also be providing a clone of the rhel extras repo just like CentOS provides CentOS-Extras. If it does, we can update the docs with the steps to fetch it. If not, I'll look at adding container-selinux to OBS.

[2020-03-18 04:53] NTMan opened #208 "Why my system logs flooded with message `container kill ... (image=..., name=...)` when I start container?"
Why my system logs flooded with message `container kill 8f3ff324c6a5188c9ff63ac3f870cc6c4ffc1a3046f4db025dc2d62f4de39f76 (image=dev-registry.sbis.ru/local_stand/inside:20.2100, name=inside)` when I start container?

[system-log.zip](https://github.com/containers/podman.io/files/4346986/system-log.zip)

[code]

[podman inspect inside](https://github.com/containers/podman.io/files/4346988/podman-ins

[2020-03-18 13:21] TomSweeneyRedHat commented on #208
@NTMan thanks for the issue report, but you reported this against the blog site for Podman, not the development site.  I've created https://github.com/containers/libpod/issues/5537 for this issue, please follow up there as necessary.

Closing the issue here.

[2020-03-18 13:21] #208 closed

[2020-03-23 16:18] lsm5 commented on #207
@pangorgo try this:
[code]
worked for me on amazon linux container. Once you verify, I'll PR to update the install doc.

[2020-03-24 13:48] #207 closed

[2020-04-01 04:58] macowie opened #213 "RSS Feed duplicates the newest post"
Seems like whatever (Jekyll?) is generating the RSS feed renders the newest post twice -- followed by the next *x* entries. Which leads to everything getting double entries as a feed reader continually refreshes it.

Here's a sample of the first two entries on the feed currently:
[code]

[2020-04-02 19:04] TomSweeneyRedHat commented on #213
Thanks for the report @macowie I'll see what we can do, but I'm not a rss heavy.

[2020-04-12 09:26] Houuse opened #215 "installation issue on ubuntu 19.10"
hi,
when I try to install podman for the first time on ubuntu 19.10
following the documentation
got this error
[code]

[2020-04-13 10:56] rhatdan commented on #215
@lsm5 PTAL

[2020-04-13 12:30] lsm5 commented on #215
@Houuse what arch are you on btw?

[2020-04-13 12:47] Houuse commented on #215
@lsm5 could extra info be more helpful ?

[code]

[2020-04-15 22:40] TomSweeneyRedHat commented on #172
Closing this as we've not had a response in several months and the issue should really be logged against the development site [https://github.com/containers/libpod](https://github.com/containers/libpod)

[2020-04-15 22:40] #172 closed

[2020-04-15 22:43] TomSweeneyRedHat commented on #213
@macowie I've checked with the folks that set up the rss feed for us and they think the reason you're seeing the "dupes" is a number of our recent posts have been what I call "post links".  We add a small blog that shows up on the main page and then a very similar one that will show up in the page that comes up after you click on the "Blogs" button.

When we have someone write an article directly

[2020-04-15 22:43] TomSweeneyRedHat commented on #165
@daniel-wtd any progress?

[2020-04-16 06:41] daniel-wtd commented on #165
Hey sorry for the massive delay here. I am on it. Hope to get the guide done, soon.

[2020-04-16 14:31] eriksjolund opened #220 "baseurl uses http:// instead of https://"
I get a baseurl starting with `http://`
[code]
I would have expected a baseurl starting with `https://`

[code]

[2020-04-16 14:48] eriksjolund opened #221 "installation issue on CentOS 8: No available modular metadata for modular package container-selinux"
I followed the podman installation instructions at
https://podman.io/getting-started/installation
but it fails on this step
[code]

I've tried to run `dnf clean packages` as suggested above, but it didn't help.
Computer architecture: x86_64

Here is the output from the command `sudo dnf repolist -v`:
[code]

[2020-04-16 15:53] eriksjolund commented on #215
The installation instructions at
https://podman.io/getting-started/installation
have these lines
[code]

I made a test where I ran the installation instructions but leaving out `. /etc/os-release`

[code]

I see the same error message
[code]

[2020-04-16 18:19] lsm5 commented on #215
looks like `${VERSION_ID}` doesn't evaluate to anything on your env, which is likely because you missed `. /etc/os-release` before running the other steps. Could you please retry with this?

This works on my ubuntu:19.10 container.

[2020-04-16 18:34] TomSweeneyRedHat commented on #220
@eriksjolund I'm confused by this report?   This project is used for the Podman.io blog site and I'm not sure how this pertains?  If you meant to post this against the Podman project, which I'm still not sure about, please do so [here](https://github.com/containers/libpod/issues).

I'm going to close this issue.  If I'm mistaken and it is an issue with this site, please re-open and add a little mo

[2020-04-16 18:34] #220 closed

[2020-04-16 18:35] TomSweeneyRedHat commented on #221
@lsm5 any thoughts on this one too?

[2020-04-16 20:00] lsm5 commented on #221
I built a new container-selinux on copr, but my env is still pulling the older one from appstream, no idea why that is atm. I'll come back to this in a bit.

@eriksjolund could you please check if you're able to fetch container-selinux 2.132.0-1 from the copr repo you enabled in the installation steps?

[2020-04-16 20:28] eriksjolund commented on #221
@lsm5  Which command should I use? I just tried this:
[code]

[2020-04-16 21:34] lsm5 commented on #221
@eriksjolund ack thanks, so I'm seeing that too. I gotta look further why it's not pulling from the copr. I'll report back once I have an update on this.

[2020-04-16 21:42] eriksjolund commented on #221
I tried again. This time it worked!

[code]

[2020-04-16 21:45] lsm5 commented on #221
@eriksjolund great. I built a new 2.132.0-2 container-selinux just now. I had the Epoch field messed up for centos earlier that's why it was picking up the package from AppStream repo. Closing...

[2020-04-16 21:45] #221 closed

[2020-04-18 10:43] rhatdan commented on #215
I am going to close this issue, since it does not seem to be a problem with Podman.  Also podman problems are better to report at github.com:containers/libpod.

[2020-04-18 10:43] #215 closed

[2020-04-18 10:44] rhatdan commented on #206
@saschagrunert @TomSweeneyRedHat Any idea how to do this?

[2020-04-18 10:44] rhatdan commented on #174
@anarcat @daniel-wtd Did you guys ever work on this?

[2020-04-18 10:47] daniel-wtd commented on #174
Nope, I have started to work on another issue. If you want, I can have a look at some basic testing afterwards.

[2020-04-18 10:48] rhatdan commented on #174
Well any help you can give is appreciated.  I don't have priority of one over the other.

[2020-04-18 14:22] Houuse commented on #215
the problem was that` ${VERSION_ID}/ ` in the second command not being evaluated to any thing,
hardcoding it solved the issue

[2020-04-18 15:26] TomSweeneyRedHat commented on #215
@lsm5 is there a tweak to the install guide we could make to note @Houuse 's findings?

[2020-04-18 15:28] TomSweeneyRedHat commented on #206
I do, but I prefer having them as breaks between the blogs.  @saschagrunert has been the only one so far that has asked for this change, so I've been letting it smolder.

[2020-04-18 17:15] Houuse commented on #215
just a note I'm using zsh
and I'm linux newbie

[2020-04-18 21:31] lsm5 commented on #215
No problem at all. IIUC, zsh should be fully bash-compatible. I tried the install steps on ubuntu:19.10 container using zsh as well, and it worked.

Would you mind trying the two commands below on your zsh and posting the output?

[code]

On my zsh env, it said `19.10` which is what I got with bash as well.

[2020-04-19 10:36] Houuse commented on #215
`. /etc/os-release` no output
`echo ${VERSION_ID}` output `19.10`

[2020-04-19 12:14] abitrolly opened #227 "Outdated "build from source" instructions"
The [instruction to get the source code](https://podman.io/getting-started/installation#get-source-code) sounds strange for a project that uses `go` modules. Is it still actual? What is the minimal `go` version for building `podman` 1.9.x?

[2020-04-19 13:05] abitrolly opened #228 "Anchors for headers would be helpful"
I get get a link to page section only be looking at the source code, like https://podman.io/getting-started/installation#get-source-code It would be much more convenient if headers contained the anchors.

[2020-04-20 06:58] saschagrunert commented on #206
Yeah feel free to close if you think that the current layout is fine :)

[2020-04-20 12:16] rhatdan commented on #228
Please open a PR to make the change you want.

[2020-04-20 13:39] rhatdan commented on #206
Alright I will close.

[2020-04-20 13:39] #206 closed

[2020-04-20 18:00] TomSweeneyRedHat commented on #228
@abitrolly if by chance you don't have the time, could you explain a bit more.  Are you saying you'd like to see a list table of contents like thing at the top?  Something like the one at the top of this page?  https://github.com/containers/common/blob/master/SECURITY.md

[2020-04-20 18:06] TomSweeneyRedHat commented on #227
@abitrolly I've not used the instructions in a few weeks, but they held the last time I did so.  If you find that they are no longer valid, please let us know.  @vrothberg is my go mod person, perhaps he has thoughts.

I believe that you could build Podman with go v1.9.*.  However, due to security issues in go prior to version 1.12.12, I would not advise using that version or any prior to 1.12.12.

[2020-04-20 23:12] abitrolly commented on #228
@TomSweeneyRedHat just hover the mouse over rendered markdown headers and the anchor will appear. That will be enough.

@rhatdan I am not sure I am proficient enough in Jekyll to know how it is supposed to work. I thought there are people at RH who did this in the past, because it is so common.

[2020-04-20 23:23] abitrolly commented on #227
What is the point in maintaining compatibility with go v1.9 then?

[2020-04-20 23:38] TomSweeneyRedHat commented on #227
@abitrolly might be end of day brain, but I don't think we're maintaining v1.9 compatibility.  The compilation might work with v1.9, but I'm not sure.  Did you spot something in the documents that said we supported v1.9?  If so, it's probably something that needs to be cleaned up.

[2020-04-21 00:55] abitrolly commented on #228
Markup seems to be generated by theme, and asked here - https://github.com/pages-themes/dinky/issues/17

https://github.com/containers/podman.io/blob/dbc18d4ff3c5fa08fc1a1f9841524dbe5373f6af/_config.yml#L3

[2020-04-21 04:55] abitrolly commented on #227
@TomSweeneyRedHat my bad. The instructions mention `1.10.x`. I guess I mixed that number with version of `podman`. ) Anyway, for the latest `go` with support for modules there is no need to clone into this structure anymore.

[code]

[2020-04-21 06:34] vrothberg commented on #227
Feel free to open a pull request but please make sure that all make targets (including tests) continue working. Although go allows to place the module anywhere, some tools and scripts may rely on the old GOPATH layout.

[2020-04-21 13:42] rhatdan commented on #228
Sure, I am sure Red Hat has expertise, Just perhaps not on this team.  :^)

[2020-04-21 17:54] rhatdan commented on #227
We support go 1.12 right now, although I would like to move to go.1.13.  I don't think we want to state we support anything less then 1.12.

[2020-05-01 07:56] daniel-wtd commented on #165
Hi, the guide is almost done (at least the markdown part). Is there some kind of build step that needs to be performed before openening a PR?

[2020-05-01 14:22] TomSweeneyRedHat commented on #165
@daniel-wtd great news!  No build step needed before creating a PR.  We'll review it as an md file and then if necessary, it will be automatically converted once merged.

[2020-05-05 08:51] daniel-wtd opened #235 "Bug: Errors when using rootless containers"
Hi,

when running rootless containers, I am getting some errors:

[code]

These kind of errors occur for several subcommands like: run, stop, start, restart
Other subcommands like "ps" seem not to be affected.
Disabling SELinux does not help to prevent the errors.

## information

OS: Fedora 32 Silverblue
Podman: 1.9.1

If you need any additional information, please feel free to reach out to me.

[2020-05-05 08:54] daniel-wtd opened #236 "Bug: Restarting rootless containers with published ports fails (coredump)"
When running a container with a published port (rootless) like so:

[code]
And restarting the container afterwards:

[code]

One will get an error like:

[code]

and the container will be stopped. Starting the container via `start` afterwards works fine. A coredump will be created via systemd:

[code]

## information

- OS: Fedora 32 Silverblue
- Podman: 1.9.1

[2020-05-05 09:23] daniel-wtd commented on #165
PR is opened and feedback will be appreciated :)

[2020-05-05 13:19] mheon commented on #236
Hi, did you mean to file against `podman.io`? This is the Podman website. The main issue tracker and development for Podman lives [here](https://github.com/containers/libpod/issues)

[2020-05-05 13:20] mheon commented on #236
I believe that this one is fixed upstream, for reference. We'll probably cut a 1.9.2 release early next week including the fix.

[2020-05-05 14:40] daniel-wtd commented on #236
@mheon, sorry... wrong tab. I will re-open it properly. Same for #235

[2020-05-05 14:41] #236 closed

[2020-05-05 14:41] #235 closed

[2020-05-07 19:17] #165 closed

[2020-05-14 14:56] vijaymateti opened #240 "Broken link for Darwin installation"
Following link is broken on this page (https://podman.io/getting-started/installation) is broken.

Remote Client
Latest remote client for MacOS (https://storage.googleapis.com/libpod-master-releases/podman-remote-latest-master-darwin-amd64.zip)

it would be great if you can fix the link and provide some detailed steps to setup podman on OSX. Thank you!

[2020-05-14 16:24] TomSweeneyRedHat commented on #240
@vijaymateti thanks for the heads up.
@lsm5 PTAL

[2020-05-15 15:54] daniel-wtd commented on #174
Phew, thats a toooon of links. Is there currently any automation process to run checks on pull-request like travis-ci or similar? I have some ideas how to automatically do some testing?

[2020-05-15 16:25] TomSweeneyRedHat commented on #174
@cevich @edsantiago are either of you aware of automatic link checks we could use per @daniel-wtd question above?

[2020-05-15 16:29] daniel-wtd commented on #174
the link check can be provided from me. My interest is more like:

"what kind of automation options do we have for checks, based on pull requests" ;)

There is a ton of stuff out there like travis-ci, cricle-ci, cirrus, etc. Depending on your preferences, we can use one of them or I can provide some simple tests to be run manually.

[2020-05-15 20:55] cevich commented on #174
My preference would be to use Cirrus-CI since it's already in such wide-spread use.  Running tasks in containers doesn't require any special setup.  In fact, before I go on PTO, I'll add this repo. to the github permissions list...

[2020-05-15 20:57] cevich commented on #174
...it's done.  All you need is a `.cirrus.yml` file.

[2020-05-15 21:03] daniel-wtd commented on #174
@cevich thank you a ton :) I will start this weekend with some initial markdown / link checks.

[2020-05-15 23:25] TomSweeneyRedHat commented on #174
@cevich @daniel-wtd AWESOME!  Both of you get a Gold Star today!  :1st_place_medal:

[2020-05-18 07:42] daniel-wtd commented on #174
Just a short note for me, for somebody who is interested. I am working on implementing some basic checks like described here:

- https://jekyllrb.com/docs/continuous-integration/travis-ci/
- https://cirrus-ci.org/examples/
- https://pre-commit.com/

[2020-05-28 07:34] skorhone opened #243 "RHEL7 SELinux denies creation of unix socket in rootless container to /tmp"
Audit reports following selinux error, when java is trying to create unix socket to /tmp.

type=AVC msg=audit(1590489952.995:140737): avc:  denied  { create } for  pid=23087 comm=417474616368204C697374656E6572 name=".java_pid63.tmp" scontext=system_u:                                                                               system_r:container_t:s0:c522,c777 tcontext=system_u:object_r:fusefs_t:

[2020-05-28 10:29] TomSweeneyRedHat commented on #243
Moved to https://github.com/containers/libpod/issues/6414
This site is used primarily for blog posts on Podman.  I've moved your issue to the development project on GitHub.

[2020-05-28 10:29] #243 closed

[2020-05-28 20:24] rhatdan commented on #243
Fixed in container-selinux v2.134.0

[2020-06-05 11:57] ofalk opened #244 "Update entry page to better explain the benefits of podman"
Hi!

I've received the following comment on Twitter:

    https://twitter.com/bobschi/status/1262740627160064000?s=20

While for the tech. ppl. the explanation on podman.io is eventually fine, for non-tech. ppl., this might not be that obvious. Could the start page be reworked so it clearly points out the benefits in contrast to <other tool>?

Thanks,
 Oliver

[2020-06-05 12:17] rhatdan commented on #244
PR's are helpful, we have a longer description on the documentation page.

[2020-06-05 12:37] ofalk commented on #244
@rhatdan Yes, I know PRs are helpful. I'd love to, but I'm missing the time and I'm not really good at such "marketing activities". I can imagine there is more in the docs, what I'd love to see is something catchy on the front page that even (non-tech) C-level ppl will not only understand, but give them a reason to get back to their ppl and say: "Hey yah, why are we not using Podman instead of >xy

[2020-06-05 13:28] TomSweeneyRedHat commented on #244
@ofalk thanks for the heads up.  I'm pretty Twitter illiterate, do you know how that link was created and/or what twitter grabs?  If you've suggestions that you could at least roughly sketch out, I'd be happy to put a PR together.

[2020-06-05 13:48] ofalk commented on #244
Hey Tom!

Thanks for following up. So it started with Dan Walsh posting about podman being accepted to Debian unstable - which was great news. UnixCraft retweeted with the comment that podman is something developer/IT manager don't care about [ ... ]
I've pointed out that the main problem is that Docker became a de facto synonym for container [ ... ], followed by my comment that one can easily rep

[2020-06-06 17:46] TomSweeneyRedHat commented on #244
Thanks @ofalk !  And thanks for the follow up.  I'd the wrong initial impression, I thought the issue was the way Podman was default displaying itself on Twitter when linking a blog or such to Twitter.

We've had a few other comments on the site not having enough information on the home page despite the "More details here" link.  The thing is the site was originally developed as a spot to publish

[2020-06-06 21:56] fatherlinux commented on #244
Yeah, the Introduction page on docs.podman.io does a good job of explaining why containers as a whole. The new landing page (docs.podman.io/)  I think does a good job of explaining why Podman but I don't think we strongly contrast it with Docker. I think that's on purpose at this point.

While true, 99% will come from Docker to Podman, I'm not sure how strongly we want to make that comparison.

I

[2020-06-08 10:19] ofalk commented on #244
Just stumbled upon the following blog:

https://developers.redhat.com/blog/2019/02/21/jpodman-and-buildah-for-docker-users/

Maybe use the (current) momentum and re-use one of the headings from the above article:

**Podman helps users move to Kubernetes**

I think that's a catchy message and I, as a visitor of the website, would be eager to continue reading on that.

My 2 cents :-)

Oliver

[2020-06-15 12:39] geoalexidis opened #246 "Broken link for Windows installation"
Under: https://podman.io/getting-started/installation the link: https://storage.googleapis.com/libpod-master-releases/podman-remote-latest-master-windows-amd64.msi doesn't work.

[2020-06-15 14:43] TomSweeneyRedHat commented on #246
@geoalexidis thanks for the heads up.  Will see if I can track that down.  I'm not sure where it has gone to.

[2020-06-15 17:07] rhatdan commented on #246
They are now under the individual release, rather then on the main page.  I am not sure if there is a way to get a permanent link to the latest release.

[2020-06-16 07:41] geoalexidis commented on #246
Hey guys,

Thanks for the fast response.

I can now work with the Download in the Release Section.

You might want to point users to the release section in the meantime? -> https://github.com/containers/libpod/releases

I leave the issue open and up to you for following up.

Thanks and best regards

[2020-06-18 18:57] Manishfoodtechs opened #247 "Gvisor support?"
I want to know do podman compatible with gvisor . Being OCI and runsc , I believe it should, but just need confirmation.
Sorry, If it is a dumb question.
https://gvisor.dev/
gVisor is an application kernel, written in Go, that implements a substantial portion of the Linux system surface. It includes an Open Container Initiative (OCI) runtime called runsc that provides an isolation boundary between

[2020-06-18 19:08] TomSweeneyRedHat commented on #247
@Manishfoodtechs questions about Podman are better asked on the Podman Mailing list (Send an email to podman-join@lists.podman.io with the word "Subscribe" in the subject.), or on the repository for Podman [libpod](www.github.com/containers/libpod).  This site is for the blogs about Podman.

All that said, I'm guessing @rhatdan  or @mheon will be able to answer your question here.

[2020-06-18 19:43] mheon commented on #247
We don't do any specific testing with `gvisor` but, last I heard, it was working. It only works as root, though - it requires privileges that rootless Podman does not have.

[2020-06-19 09:13] thisconnect commented on #240
Any news on this?

[2020-06-19 11:38] rhatdan commented on #240
@ashley-cui PTAL

[2020-06-19 13:01] ashley-cui commented on #240
@rhatdan Looks like an easy fix, but what is https://storage.googleapis.com/libpod-master-releases/ ?

[2020-06-19 14:17] TomSweeneyRedHat commented on #240
@ashley-cui where is  https://storage.googleapis.com/libpod-master-releases/ reference?

[2020-06-19 14:32] ashley-cui commented on #240
@TomSweeneyRedHat  The broken link for mac (and windows too is broken) was https://storage.googleapis.com/libpod-master-releases/podman-remote-latest-master-darwin-amd64.zip. I was going to just change it to the the github asset but wasn't sure if there was something official on the storage.googleapis

[2020-06-19 14:39] TomSweeneyRedHat commented on #240
Thanks @ashley-cui , that's a reference I'm not familiar with.  @jwhonce did you put this together or know where it's moved to?

[2020-06-20 08:08] Manishfoodtechs commented on #247
Thanks  @mheon  and @TomSweeneyRedHat Mheon.  I am closing this issue here and opening a fresh issue for everyone's benefit at libpod repository.

[2020-06-20 08:08] #247 closed

[2020-06-22 18:29] #240 closed

[2020-07-14 14:42] mbbroberg commented on #246
This looks fixed by the PR merged above. @geoalexidis, could you confirm? Thanks!

[2020-07-14 14:50] mbbroberg commented on #244
Hey, I'm one of those folks who enjoys technology and wordsmithing. I'm looking into an edit based on this discussion. The crux of it for me is "Manage containers with fewer moving parts," though the keyword of Kubernetes and catchiness of @ofalk's point is not missed. I'll think on it further.

FWIW @fatherlinux, the 1% that isn't coming from Docker will certainly be comparing Podman to Docker be

[2020-07-14 15:03] geoalexidis commented on #246
@mbbroberg Thanks looks fine.

Thanks everybody.

I'll close this now.

[2020-07-14 15:03] #246 closed

[2020-07-14 15:13] mbbroberg commented on #213
Hey @TomSweeneyRedHat I looked into this a bit. It's unfortunately not as easy as adding a `filter: true` or something to fontmatter. It does look like the site could be set up to use collections. The "post links" could be their own type, while posts you wish to share through RSS could be included in a collection and then overwrite the feed.xml file. No clue if it'll work but here's the inspiratio

[2020-07-15 14:16] TomSweeneyRedHat commented on #213
@mbbroberg thanks for digging into this.  I'll be honest and will tell you that I have a very basic knowledge of the rss underpinnings.  I'll try to take a look and see what can be adjusted though.

[2020-07-19 21:49] guerra08 commented on #215
I'm having the same issue on PopOs 20.04. `. /etc/os-release` yields no results. After that, when executing `curl -L https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/Release.key | sudo apt-key add - sudo apt-get update -qq` the "No OpenPGP key found" is returned.

[2020-07-20 00:30] guerra08 commented on #215
After some tinkering, I was able to solve the problem. It was due to a backslash in the ${VERSION_ID}.

[2020-07-20 14:43] TomSweeneyRedHat commented on #215
@lsm5?

[2020-07-20 14:47] lsm5 commented on #215
@guerra08 that's weird, mind posting your $VERSION_ID please?

[2020-07-20 15:35] guerra08 commented on #215
After getting the os release information, $VERSION_ID reports 20_04. I was able to install and pull a test image with no problems.

[2020-07-23 20:56] mbbroberg commented on #213
Hey @macowie, the team did some things to mess with Jekyll categories. Did this help the double posting by chance?

[2020-07-27 19:25] macowie commented on #213
Unfortunately not. You can see in the [Feed XML](https://podman.io/feed.xml), two entries for each post.

They do have different links. One entry has URL like https://podman.io/blogs/2020/07/18/speed-up-build-with-overlayfs.htm
-- with /blogs/ and a slug but 404s. And the other goes to a URL at /new/ and ending in new.html, https://podman.io/new/2020/07/18/new.html -- and this works and shows the

[2020-07-29 21:30] mbbroberg commented on #244
Adding a brief update: I'm midway through research that explores common themes for why people might care to use podman. That is both in the context where it's now the default choice (RHEL/CentOS/Fedora) and when transitioning from Docker. The higher level use cases are falling into these buckets:

- It's the default: when you run RHEL/etc, no need to install anything else
- Security: you don't wan

[2020-07-30 13:30] rhatdan commented on #244
Podman works fine on Windows and MACs, in remote mode, and we are working on improving its ease of use.
Docker Compose should be somewhat fixed with Podman APIv2 in 2.0.

[2020-07-30 13:33] rhatdan commented on #244
I actually believe a huge benefit of Podman is you don't need to run a container to run a service.  So setting up server to run one container, does not require you to run a service to run the container.  Just run a single command and you are done.

The other cool thing is the integration with systemd, not so much of running systemd inside of containers, but being able to plug easily into systemd u

[2020-08-05 10:09] Luap99 commented on #228
@abitrolly I have added anchors with #260. So I believe this can be closed?

[2020-08-05 12:35] abitrolly commented on #228
@Luap99 works perfectly. Good job. )

[2020-08-05 12:35] #228 closed

[2020-08-27 11:41] Bearbobs opened #279 "Issues with installation on Ubuntu 20.04"
[code]

[2020-08-27 16:58] #279 closed

[2020-09-14 10:49] lostz opened #285 "podman centos8 repo unavailable"
Status code: 404 for http://ftp.lysator.liu.se/pub/opensuse/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/repodata/91e2f0d1b4f5e4dbaaffe33fccfefad47782c4b6537eb36d3487a8456f6f00ae-filelists.xml.gz

ftp.lysator.liu.se seems not rsync any more.

[2020-09-14 18:04] TomSweeneyRedHat commented on #285
@lostz thanks for the problem report, however this repository is for the podman.io site which concerns blogs and documentation about Podman.  Any issues that are for Podman itself should be logged against github.com/containers/podman/issues.

That being said, I'm going to guess the @lsm5 might have an insight here.

[2020-10-14 18:10] valankar opened #296 "Expired key"
Was trying to do an update on my Ubuntu machine:

Err:6 https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04  InRelease
  The following signatures were invalid: EXPKEYSIG 4D64390375060AA4 devel:kubic OBS Project <devel:kubic@build.opensuse.org>

[2020-10-14 18:12] mheon commented on #296
@lsm5 PTAL

[2020-10-19 08:25] valankar commented on #296
Still a problem, any update?

[2020-10-19 08:28] dcsouthwick commented on #296
same here, for 20.04
[code]

[2020-10-19 14:01] lsm5 commented on #296
@valankar I got bit by this myself, but I followed the steps from https://podman.io/getting-started/installation to add the repo again and it works for me now. I suspect this is an OBS issue and not really a packaging problem. I'll poke the OBS people soon.

Let me know if it works for you too.

[2020-10-19 16:01] valankar commented on #296
@lsm5 Yes that worked, thanks!

[2020-11-06 22:08] lukynmatuska commented on #296
You must import the key:
[code]

[2020-11-22 19:36] peters95 opened #315 "Native Mac/Windows support"
It would be ideal to have native mac and windows support to further the adoption of podman in the community. Users do not want to have a Linux VM just to use podman on these platforms. Furthermore, users won't read the entire README to find out that you really only support Linux and not Mac/Windows without a Linux VM.

[2020-11-23 09:16] NautillusSs commented on #296
Had the same issue on Raspbian 10. I just replaced the xUbuntu_20.04 version by Raspbian_10.

[2020-11-23 15:00] TomSweeneyRedHat commented on #315
@peters95 I agree and would love to see someone move this forward.  However, the better project to request this against would be podman, this one is targeted towards blog and documentation of that project.  I've just created: https://github.com/containers/podman/issues/8452 to carry that conversation forward and will close this one now.

[2020-11-23 15:00] #315 closed

[2020-11-23 15:06] rhatdan commented on #315
@peters95 Podman and Docker for the most part launch Linux Containers.  In order to run a Linux Container, you need a Linux Kernel, which requires a VM (Or a hidden VM like WSL2) .  There is a concept of Windows containers, but when most people talk about containers they are talking about Linux.

You can install Podman with brew install for MAC and we have packaging to install Podman on windows as

[2020-12-02 14:02] rhatdan commented on #296
This does not look like an issue with podman.io.

[2020-12-02 14:02] #296 closed

[2020-12-02 14:04] rhatdan commented on #227
@TomSweeneyRedHat Is this still an issue?

[2020-12-02 16:55] abitrolly commented on #227
@rhatdan

I can do PR to close this, but I can not make sure that all make targets continue working. Only if tests break.

[2020-12-02 19:35] TomSweeneyRedHat commented on #227
@rhatdan as far as I know this has been cleaned up with other revisions.  @abitrolly if you find otherwise, please feel free to reopen or to create a new issue as you think works best.

[2020-12-02 19:42] #227 closed

[2020-12-02 19:51] abitrolly commented on #227
@TomSweeneyRedHat the instruction is still at https://podman.io/getting-started/installation#get-source-code

[2020-12-08 17:26] ocafebabe opened #326 "Dead link in Posts of Interest"
Hi,

FYI I've found a dead link in the [Posts of Interest](https://podman.io/blogs/2020/12/07/podman-posts-of-interests.html) section:
"_hostnextra.com site - Easy to Install Podman on Ubuntu 20.04 - Like the title says, how to easily install Podman on Ubuntu 20.04._"

https://github.com/containers/podman.io/blob/master/_posts/2020-12-07-podman-posts-of-interests.md

Thanks

[2020-12-08 18:09] TomSweeneyRedHat commented on #326
Ouch, cut/paste error there.  Will go fixt that up and thanks for the heads up/issue @ocafebabe !

[2020-12-09 18:31] TomSweeneyRedHat commented on #326
Hmm, I'm not sure why this didn't close automatically with the PR, but closing now.

[2020-12-09 18:31] #326 closed

[2020-12-20 06:16] bfallik opened #336 "failure following the Raspberry Pi OS armhf installation instructions"
Hi,

I've been trying to install Podman 2.2 according to the [installation instructions](https://podman.io/getting-started/installation) but so far I've been unsuccessful. Here are the current instructions:

[code]

I've hit 2 different issues.

Neither of my rpis had the signing key for buster-backports available. `apt` complained when I tried to update the cache:

[code]

I was able to workaroun

[2020-12-21 20:51] rhatdan commented on #336
@lsm5 @Luap99 PTAL

[2020-12-23 14:22] PTrottier opened #338 ""runc" not found in Pop!_OS"
After following the [Ubuntu apt installation instructions](https://github.com/containers/podman.io/blob/master/getting-started/installation.md#ubuntu) on Pop!_OS, when running `podman` (without arguments) or `podman pull path/to/docker`, I am presented with the error:

[code]
The solution for me was to also run: `sudo apt install runc`, but it took me a moment to realize it, is this something that

[2021-01-09 18:13] bfallik commented on #336
Hi, just wanted to check back in on this issue. I retried to install podman 2.2. and encountered the same issue with libseccomp2. Anyone have updated instructions for Raspbian?

Thanks,
brian

[2021-01-09 20:44] parkr commented on #174
This code worked well for me:

[code]

Running on macOS.

[2021-01-09 20:45] parkr commented on #174
This could be fairly easily converted into a GitHub Actions workflow if that is an acceptable platform to use for the Containers org.

[2021-01-09 22:03] daniel-wtd commented on #174
Ouh, I totally forgot about this in the meantime. Thanks for the reminder. I will plan it for January.

[2021-01-10 13:01] rhatdan commented on #174
I am open to ideas on how to keep these blogs working. So whatever the community decides is fine with me.

[2021-01-13 03:42] ClaudioLazaro commented on #215
Hellow Following rigth way :

https://software.opensuse.org/download/package?package=catatonit&project=devel%3Akubic%3Alibcontainers%3Astable

[2021-01-13 13:41] lsm5 commented on #215
@ClaudioLazaro could you please create a new issue and give details about the errors you notice?

[2021-01-19 00:43] justinschuldt commented on #336
Hey @bfallik, I also encountered that `public key is not available` error. I installed a package to fix that, but I'm not sure it is the best solution: `sudo apt-get install debian-archive-keyring`

Regarding the unmet libseccomp2 dependency, check out this PR https://github.com/containers/podman.io/pull/343. You just have have to run `sudo apt-get -y -t buster-backports install libseccomp2` to ma

[2021-01-20 03:30] bfallik commented on #336
thanks @justinschuldt , that additional step worked to install libseccomp2 and unblock my podman upgrade:

[code]

Looks like I was unexpectedly upgraded to 3.0-rc1. I guess I can help test 3.0 rather than use 2.2.

Should we upgrade the docs to reflect the correct instructions for Raspbian? I'd be happy to submit a PR if someone would accept.

[2021-01-20 19:06] TomSweeneyRedHat commented on #336
We're always happy to take a PR @bfallik!

[2021-01-21 13:17] lsm5 commented on #336
Fixed by #343 . Closing, please reopen if it's still not resolved for you.

[2021-01-21 13:17] #336 closed

[2021-01-21 13:44] bfallik commented on #336
thx @lsm5 !

[2021-01-21 18:22] lsm5 commented on #338
Hi, btw, I'm assuming you followed the instructions for the kubic project repos, yes? If you installed the package from the default pop!_os repos, then it should be reported to the pop!_os or perhaps ubuntu bug tracker site.

[2021-01-21 19:09] lsm5 commented on #338
I'm unable to reproduce this issue on pop os 20.04. Please let me know what version of pop_os and podman are being installed on your system. Also, could you check if your `/usr/share/containers/containers.conf` has this towards the end:

[code]

The podman package should automatically pull in `cri-o-runc` package which installs runc at `/usr/lib/cri-o-runc/sbin/runc` which is the preferred runc pa

[2021-01-21 19:12] lsm5 commented on #338
I'm gonna close this issue. Please reopen if it still occurs and let me know the details above. Thanks!

[2021-01-21 19:12] #338 closed

[2021-01-21 19:29] PTrottier commented on #338
My apologies, I meant to add that this is on Pop!_OS 20.10 fully up-to-date with the default repos (on a brand new computer).

This file doesn't exist, I tried adding it and no success either, same error message.

[2021-01-21 19:33] lsm5 commented on #338
If it's default repos and not the Kubic/OBS repos, then those are not owned by this team. Best to file a bug with Pop!_OS.

[2021-01-21 19:34] PTrottier commented on #338
Fair enough, thanks for your time and investigation @lsm5, take care!

[2021-01-23 00:40] TomSweeneyRedHat opened #345 "remove runc install"
runc is no longer needed in a Fedora, Centos or RHEL "Install from Scratch and should be removed from the yum installation step there. https://podman.io/getting-started/installation#build-and-run-dependencies

[2021-02-11 13:11] daniel-wtd opened #353 "Question: Crossposting blogs"
Hi all,

I am currently working on my own blog and therefore started a podman series. I have seen some cross posts from "Enable Sysadmin". Is it possible (in general) to cross post blogs from the below?

- fedoramagazine
- fedora community blog
- self-hosted blog / private blogs

Is there any guideline / best practice for the same?

[2021-02-11 13:18] rhatdan commented on #353
My understanding, is that Google Search frowns on this and penalizes it.

Here is an article from medium.com on this subject.

https://help.medium.com/hc/en-us/articles/217991468-About-SEO-and-duplicate-content

[2021-02-11 13:19] rhatdan commented on #353
We publish a lot at `Enable Sysadmin` since I believe this gets the biggest amount of "Administrator" types get to see it.  Then we link to the articles in podman.io and social media to it on linked in and twitter.

[2021-02-11 13:22] daniel-wtd commented on #353
Sure thing. :)

I thought more about this kind of stuff: https://podman.io/blogs/2021/01/23/podman-posts-of-interests.html, but only if the article is interesting for you. I am also ok with the other way around (writing something for podman.io and mentioning it on my blog as a reference).

[2021-02-11 18:35] TomSweeneyRedHat commented on #353
Hi @daniel-wtd,

If you're thinking about replicating the blog posts from another site onto podman.io, then no, not a good idea.  However, I don't think there's a problem with creating a post like the podman-points-of-interest post that you pointed out with a quick intro to the topic(s) and then a link to the post on fedoramagazine or what have you.

We're also always interested in new post too, s

[2021-02-11 20:35] daniel-wtd commented on #353
Thanks a lot, I will do so. :)

[2021-02-11 20:35] #353 closed

[2021-02-23 22:52] veita opened #359 "Installation instructions from podman.io do not work with Debian 10 (Buster)"
https://podman.io/getting-started/installation says

[code]
This produces the error
[code]
The probably missing command is
[code]

[2021-03-05 21:29] erisd opened #366 "http 301 to https for docs.podman.io"
Would be nice to forward http to https for docs.podman.io

[2021-03-05 22:22] TomSweeneyRedHat commented on #366
hmm, thought we did that.  I'll have to play.

[2021-03-05 22:22] TomSweeneyRedHat commented on #366
Oh, and thanks for the heads up @erisd!

[2021-03-05 23:21] erisd commented on #366
no problem, thanks for fixing :)

[2021-03-12 23:36] pdfrod commented on #117
The currently used Jekyll theme (`jekyll-theme-dinky`) hasn't seen much love lately. Would you accept a pull request using a different theme?

[2021-03-12 23:59] robbyoconnor commented on #117
@pdfrod I'm sure they'd love it -- can't speak for them -- you could also move it entirely to [Hugo](https://gohugo.io) as well.

[2021-03-13 12:33] rhatdan commented on #117
We are a bunch of container programmers, not wed designers, so yes we would love community support on this.

[2021-03-16 14:10] TomSweeneyRedHat commented on #117
@pdfrod we're always happy to take a PR.  Our main focus is to make sure that people can navigate through the site easily and that posts can be added to it without too much fuss.

[2021-03-17 02:31] pdfrod commented on #117
Alright. My idea is just to touch up the UI to be more clean and mobile friendly. Adding posts would continue to work the same through Jekyll.

I made a mockup of what I had in mind; let me know if I'm going in the right direction or if you simply wanted lest drastic changes:

![mockup1](https://user-images.githubusercontent.com/227799/111405614-b8fb7300-86c8-11eb-8cb1-4a3aca5aeeab.png)

![mockup2

[2021-03-17 02:54] robbyoconnor commented on #117
@pdfrod I really like this a lot -- it'd definitely increase my opinion of the project -- the website kinda soured me a little bit

[2021-03-18 13:10] rhatdan commented on #117
LGTM, I like the new design a lot.

[2021-03-19 01:07] robbyoconnor commented on #117
I would also like to apologize if this issue came off in any way rude, it was meant to be constructive criticism and left it open for someone to take up :)

[2021-03-19 10:01] skrytebane opened #369 "www.podman.io has the wrong TLS certificate"
Someone linked to `https://www.podman.io`, and it results in a bad certificate warning from the browser.

[2021-03-19 10:32] stappersg commented on #117
Do know that _perfect_ is the enemy of _good_.

[2021-03-19 21:37] robbyoconnor commented on #117
I want it to be useable -- if people are looking at podman, they need to be able to find the information they need.

I want it to be useable on all resolutions and screen-sizes.

[2021-03-20 07:02] stappersg commented on #117
Make what you do more important than what you want

[2021-03-20 07:21] robbyoconnor commented on #117
@stappersg in either case, there is an open PR and I tested it

[2021-03-20 11:47] stappersg commented on #117
being #368

[2021-03-23 01:31] #117 closed

[2021-03-23 17:21] TomSweeneyRedHat commented on #369
@skrytebane thanks for the heads up, do you happen to know where that link was?  If it is one of ours I'd like to clean I up.  Regradless, I'll see if I can figure out how to clean the warning up.

[2021-03-23 17:29] skrytebane commented on #369
I don't remember exactly where I found it, but it was an external site.

[2021-03-25 13:21] #345 closed

[2021-03-26 19:49] eriksjolund opened #373 "Long command-line options are not shown correctly on the man pages"
On the web page
http://docs.podman.io/en/latest/markdown/podman-generate-systemd.1.html
there is the text

_–name, -n_

I would have expected to see two hyphens before _name_, i.e.

_--name, -n_

I think the same problem is present for all long command-line options and on all man pages.
I guess this is related to how the man pages are generated from the source code.
(Unfortunately I don't know abo

[2021-03-26 21:33] TomSweeneyRedHat commented on #373
Hmm, I could have sworn this was already reported, but I can't find it in the open or closed issues. But yes, the long options such as `--tty` are displayed as `-tty` (but with a longer single dash) throughout the man pages.  It's due to the software that we use that resolves the source`. md` to HTML.  We have tried to fix it, but keep running into roadblocks.  I think the best we managed to work

[2021-03-26 21:48] eriksjolund commented on #373
Yes, I also remember there was an issue. I searched once more and found it:
https://github.com/containers/podman/issues/7474

[2021-03-26 23:17] TomSweeneyRedHat commented on #373
@eriksjolund thanks for proving that I've not lost it completely, but more importantly for the link to that.  I'll revisit this weekend and see if I can work anything up.

[2021-03-27 10:04] eriksjolund commented on #373
@TomSweeneyRedHat Good to hear! I had the same experience.

In _docs/remote-docs.sh_ there is a line where `pandoc` is used.

[code]

I did a test and built this Dockerfile

[code]

and tried out two different input formats for pandoc

* `-f markdown`
* `-f gfm`

(The input format name `gfm` stands for _GitHub-Flavored Markdown_)
[code]

Test result summary:

| test description | result |  comment

[2021-03-28 18:06] TomSweeneyRedHat commented on #373
@eriksjolund the `-f gfm` addition sounds completely reasonable to me.  Do you want to spin up a PR in Podman and give it a go?

[2021-03-28 18:28] eriksjolund commented on #373
Yesterday I tried to create a container in which I could generate the whole web page. This is how far I got:

[code]

I noticed that the script seemed to work differently on Windows and Linux so I assumed that a Windows computer is needed to generate the web pages so I gave up.
[code]

Is there an easy way to generate the web pages on Linux? (Preferably in a container)

[2021-03-28 18:45] TomSweeneyRedHat commented on #373
@eriksjolund we probably need to hear from @baude on this then, you've gotten further than I.  This [page]( https://github.com/containers/podman/blob/54b82a175f16f27849e6791f65bf73eccae4701a/docs/Readme.md) documents the conversion process, but from what I remember looking at this last summer/fall, the problem point is the ReadTheDocs site does processing of the md files.

Is it worth changing thi

[2021-03-28 19:22] eriksjolund commented on #373
Do you mean something like this?
https://github.com/containers/podman/compare/master...eriksjolund:pandoc_gfm

[2021-03-29 14:49] Luap99 commented on #373
This can be closed, see https://github.com/containers/podman/pull/9856 and  https://docs.podman.io/en/latest/markdown/podman-attach.1.html

[2021-03-29 18:42] TomSweeneyRedHat commented on #373
Closed by https://github.com/containers/podman/pull/9856

[2021-03-29 18:42] #373 closed

[2021-04-13 16:40] holgerpieta opened #383 "Install Instruction for Raspberry Pi (no more Kubic)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug
Sort of, I guess.

**Description**
The install instruction on https://podman.io/getting-started/installation for Raspberry Pis recommend using the Kubic project repositories. Unfortunately the maintainer has announced to not support "old" distros anymore: https://podman.io/blogs/2021/03/02/podman-support-for-ol

[2021-04-14 12:34] lsm5 commented on #383
It's only the older LTSs that have been discontinued. The latest LTS is still present on Kubic.

@holgerpieta The debian instructions mention the versions for which kubic packages exist from what I can tell. See: https://github.com/containers/podman.io/blob/master/getting-started/installation.md#debian . Let me know if there's anything else we need for more clarity.

Of course, if any community me

[2021-04-14 13:10] afbjorklund commented on #383
Thanks for clarifying, then I guess using Ubuntu 20.04 could be an alternative for the RPi too.

[2021-04-14 13:41] lsm5 commented on #383
Ubuntu 20.04 packages are available for both aarch64 and armv7l and I guess RPi could use either?

Also, an advance word of caution, the Ubuntu 22.04 LTS (about 1 year to go) will have podman included by default, and once that gets released, I plan to discontinue all Ubuntu builds on Kubic.

[2021-04-14 16:20] afbjorklund commented on #383
Yes, https://ubuntu.com/download/raspberry-pi - the only thing not supported are the RPi 0-1 (`armv6`)

[2021-04-14 17:43] holgerpieta commented on #383
Ubuntu 20.10 Groovy currently ships podman 2.0.6. I don't know enough about Ubuntu release cycles to know if they are ever going to update to anything more recent.
Ubuntu Hirsute ships 3.0.1, quite like Debian Unstable. We'll see who'll be faster on 3.1.

Ubuntu on Raspi looks like an option for the likes of me and I may give it a try in the future. But I'm not sure it'll be good for every user, t

[2021-04-14 18:53] lsm5 commented on #383
Sorry, I have a hard time with the Ubuntu names, so let me just use YY.MM to talk about Ubuntu plans. Given that Fedora 33 now has podman v3.1.0 in stable, I'll add v3.1.0 to Ubuntu on Kubic, so Ubuntu 20.04, 20.10 and 21.04 should be getting v3.1.0 soon.

RE: Debian Unstable and Testing, since those already have podman and since those later on get cut into debian releases, I was told to stop buil

[2021-04-15 06:31] holgerpieta commented on #383
Puh, let me try to summarize from a Raspi's user point of view:

Ubuntu 20.04: Nothing.
Ubuntu 20.10: 2.0.6
Ubuntu 21.04: 3.0.1
Kubic now has 3.1 for all Ubuntus, but will discontinue all Ubuntu builds once 20.04 gets any version natively.
Does anyone has any feeling about the versions we are going to get in the Ubuntus in future? 21.04 is supposed to be released in about a week. Will it track dev

[2021-04-15 07:03] afbjorklund commented on #383
As long are you not using the suggested OS (i.e. Raspberry Pi OS), and _really_ want to use Podman you might as well go with Fedora ? Otherwise "someone" would need to provide native packages, compiled for Raspberry Pi (possibly from Debian)

[2021-04-15 17:56] lsm5 commented on #383
To be clear, 22.04 will be the first LTS to have podman natively. Once that's released, I plan to stop all further kubic builds for ubuntu.

@siretart is the official Debian as well as Ubuntu maintainer. He probably has a much better idea. I would also recommend Debian/Ubuntu users help him out in any way possible toward official package release/testing.

[2021-04-15 19:09] holgerpieta commented on #383
Ah, good to know, sounds like Ubuntu and Debian are going to be very similar in the future.

I doubt I'd be a good choice as a maintainer for a critical package like this, but of course I'd be willing to support and test.

[2021-04-20 15:47] ArangoGutierrez commented on #207
I am still getting the same issue as the one reported in this issue
[code]
when following those recommended lines

[2021-04-20 20:25] TomSweeneyRedHat commented on #207
@lsm5 further thoughts?

[2021-04-20 20:30] ArangoGutierrez commented on #207
after working with @lsm5 , he was able to get
[code]
following this steps:

1.Have an /etc/yum.repos.d/centos.repo that looks like:
[code]
2. In `/etc/yum.repos.d/amzn2-core.repo`  comment out `priority=10 line for [amzn2-core]` repo
3. `sudo yum -y install podman --enablerepo=centos-base`

[2021-04-21 14:25] rcowsill opened #385 "Documentation: Command pages are all titled "NAME - Podman documentation""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

All pages linked from http://docs.podman.io/en/latest/Commands.html have the same title: "NAME - Podman documentation". This shows up in browser tabs, as well as in search results.

The search results would be much easier to navigate if they prominently showed the command names. Having cl

[2021-04-21 15:19] lsm5 commented on #207
just for some more clarity to anyone reading this, the steps in the above comment will help you get the last shipped centos7/rhel7 version of podman, not the latest podman available upstream.

[2021-04-21 16:34] rcowsill commented on #385
Sorry, I thought this belonged on containers/podman as that's where the source for docs.podman.io lives (https://github.com/containers/podman/tree/master/docs)

[2021-04-21 19:36] rhatdan commented on #385
It does.  I don't think this is podman.io, if you have knowledge of how this works, would you be interestedin opening a PR?

[2021-04-21 19:48] TomSweeneyRedHat commented on #385
Yes, this should be in Podman, but I'll leave it here for now.  Podman has all of the code for the man pages and we just do some dns routing from podman.io to create the "docs.podman.io" landing pad for the docs.

Regardless, @rcowsill excellent eyeballs on that, TYVM for reporting.  I don't have ideas on how to make it work better atm, but happy to take suggestions or better yet, a PR.

[2021-04-22 12:01] rcowsill commented on #385
I've looked into it a little and am not sure of the best solution.

The title is currently taken from the first heading on each page, so the simple answer is to make that title the name of the command. I guess it's not like that already because the markdown is also used to generate man pages.

If making that change isn't an option then maybe there's some way to override the page title in recommonm

[2021-04-23 14:21] rcowsill commented on #385
Enabling recommonmark's AutoStructify component will let us [embed a block of RST](https://github.com/readthedocs/recommonmark/blob/master/docs/auto_structify.md#embed-restructuredtext) to set the HTML document title. It shouldn't affect the man page output either, but I still need to test that.

[2021-04-23 14:37] TomSweeneyRedHat commented on #385
@rcowsill TYVM for digging at this, the effort is very much appreciated.

[2021-04-24 05:39] eriksjolund commented on #373
Thanks, https://github.com/containers/podman/pull/9856 fixed most of them!

I noticed that there are some left.

It seems the character is called `EN DASH`:
https://charbase.com/2013-unicode-en-dash

The character `EN DASH` can be written with `$'\u2013'` in a Bash shell.

[code]
I'll use the `$'\u2013'` notation so that is clear what type of dash character is being used.
[code]

Let's use `sed` t

[2021-04-25 17:06] rcowsill commented on #385
Unfortunately the manpage build uses go-md2man, which doesn't understand eval_rst blocks. They're just emitted into the output as a regular code block.

We could use sed to convert the existing pandoc-style title line (`% document title`) into an eval_rst block, but the sphinx build currently runs against the whole `source/markdown` directory. I think that would require preprocessing the markdown

[2021-04-26 18:01] TomSweeneyRedHat commented on #385
@rcowsill well that doesn't sound like a quick flip of a switch kind of thing, unfortunately.  We were discussing during a meeting earlier today about wanting to get some files from other repos in there for processing too.  Files such as containers.conf and storage.conf.  @rhatdan said he has a script that he uses to do that copying, perhaps it can be combined?

[2021-04-27 13:43] rhatdan commented on #385
This is the script that Fedora is using to update these configuration files while building packages for a release.

[update.sh.txt](https://github.com/containers/podman/files/6384993/update.sh.txt)

[2021-04-28 16:14] rcowsill commented on #385
I found a way to apply the correct titles within the Sphinx build, which avoids changing the markdown files and manpage build process. PR is on the way...

[2021-04-28 18:22] TomSweeneyRedHat commented on #385
@rcowsill awesome news.  A PR to touch up the podman-remote docs would be very desirable, thanks!

[2021-04-29 16:23] eriksjolund opened #389 "A few more long command-line options are not shown correctly on the man pages"
This issue is related to https://github.com/containers/podman.io/issues/373

I noticed there are still some long command-line options that are not shown correctly.
Instead of `--` an ` –` is shown.

It seems the character is called `EN DASH`:
https://charbase.com/2013-unicode-en-dash

The character `EN DASH` can be written with `$'\u2013'` in a Bash shell.

[code]
I'll use the `$'\u2013'` notation

[2021-04-30 14:03] rcowsill commented on #389
This is caused by the "smart" extensions in Sphinx (podman.io) and pandoc (windows remote docs). When it works the typography is nicer, but if it gets confused the result can be ugly or just plain wrong.

I'm wondering whether it would be best to just switch that feature off. We'd lose the following conversions:
- `"text goes here" and ``text goes here''` into <span>&ldquo;text goes here&rdquo;</s

[2021-04-30 16:32] #385 closed

[2021-05-01 22:09] smkuehnhold opened #390 "Dead links to seccomp.json and mounts.conf on /getting-started/installation"
Howdy!

I am missing some configuration files after building from source (seccomp.json, mounts.conf).  I have tried following the guide located at https://podman.io/getting-started/installation , but am unable to get these files because the provided links are dead. I am not very knowledgeable, so I do not know where to find these files elsewhere. Do you mind providing them to me?

Thanks!

[2021-05-02 10:30] BjoernPetersen opened #391 "Outdated "what is Podman?" page"
The ["Out of scope" section](https://podman.io/whatis.html#out-of-scope) of the "what is Podman?" page, which is referenced on the main page, is outdated. It still contains a whole paragraph about why Podman won't support docker-compose, but it's been supported [since Podman 3.0](https://www.redhat.com/sysadmin/podman-docker-compose).

[2021-05-02 13:09] rhatdan commented on #391
Interested in opening a PR to fix?

[2021-05-03 19:14] #390 closed

[2021-05-03 19:14] TomSweeneyRedHat commented on #390
@smkuehnhold thanks for the heads up.  @rhatdan just updated the page, if you have further difficulties, please let us know.

[2021-05-03 19:38] TomSweeneyRedHat commented on #389
@eriksjolund can you give me a pointer to an example of a long dash on the site please?

@rcowsill - I'm fine with the changes that you pointed out except:

`-- into – (en dash)`

Will that change all of the man pages that you recently set to ` \-\-format` to an en dash?

[2021-05-03 20:14] eriksjolund commented on #389
@TomSweeneyRedHat Here is an example
[code]

I also tried to visit the same web page
https://docs.podman.io/en/latest/markdown/podman-pod-rm.1.html
with Google Chrome. When I copy-paste from Google Chrome it looks like this:
[code]

[2021-05-03 20:24] rcowsill commented on #389
Another example is here: http://docs.podman.io/en/latest/markdown/podman-save.1.html#compress
![endash](https://user-images.githubusercontent.com/42620235/116927076-120c6f80-ac53-11eb-83b0-9beeb656b4c6.png)
The heading correctly says `--compress`, but the description refers to `–format` instead of `--format`. The problem isn't so much that it's the wrong type of dash, but the fact that there's onl

[2021-05-03 20:31] TomSweeneyRedHat commented on #389
Ah, light dawns on Marblehead here.  Thanks for the pointers. I was looking at the options, not the text in the examples or explanatory text.

So as painful as it may be, could we fix this by changing the md files to `\-\-` throughout, not just the options?  I'm just a little leery about turning off an option that might bite us somewhere else.

Regardles, thanks to both of you for running this dow

[2021-05-03 21:15] rcowsill commented on #389
I looked into replacing all the `--` with `\-\-` in the .mds, but hit a problem. Code blocks don't process escape sequences, so any `--` inside a code block needs to be left as-is.

For example, here: http://docs.podman.io/en/latest/markdown/podman-stats.1.html#example. If we converted `--` to `\-\-` throughout the source, the long options in the command line would appear as (eg) `\-\-no-stream` a

[2021-05-03 21:54] TomSweeneyRedHat commented on #391
Thanks @BjoernPetersen @rhatdan @mheon @fatherlinux we probably ought to revamp it.  We talk about the upcoming REST API and varlink.

[2021-05-04 06:15] joachimBurket opened #394 "RedHat8 installation instructions"
Hey,

It would be great if you could add in the installation instructions for "RHEL8 Beta", that the module `container-tools:1.0` is the stable stream version, and that there is also a "fast stream version" (`container-tools:rhel8`) available to have more recent version of the tools.
As the stable stream has pretty old tools (podman-1.0.2), some users might want to use the fast stream.

[2021-05-04 07:33] BjoernPetersen commented on #391
@rhatdan usually I'd love to, but I've literally taken my first look at Podman two days ago and probably shouldn't write its official description 😄

[2021-05-04 18:57] rhatdan commented on #394
We would figure most users would want to fast stream.
@jnovy @lsm5 PTAL

[2021-05-04 18:58] rhatdan commented on #391
Fixed in https://github.com/containers/podman.io/pull/395

[2021-05-04 19:41] lsm5 commented on #394
@joachimBurket would you like to create a PR for this?

I think the instructions should just say `RHEL 8` since we're way past 8 Beta.

[2021-05-04 19:44] joachimBurket commented on #394
Sure :)

[2021-05-05 15:22] #394 closed

[2021-05-06 13:25] leonheld commented on #215
Hardcoding worked fine for me. I was trying installing podman inside a Docker container with ubuntu 18.04 as the base, but during build time `. /etc/os-release` seems to take no effect, so `${VERSION_ID}` is evaluated to nothing, leading to the key errors.

[2021-05-06 23:50] rcowsill commented on #389
I made a draft PR with the config changes so people can take a look at the resulting HTML. Feel free to comment over there!

[2021-05-13 20:12] BobbyByrne opened #403 "404 on main podman.io site, and Docs site isn't secure"
https://podman.io/ currently shows a 404.
and http://docs.podman.io/ is up but isn't using http**s**

[2021-05-13 21:16] rhatdan commented on #403
There back now, we have begun transitioning the master branch name to main branch.  So some of these outages are unavoidable, until we get everything over to the new "main" name.

[2021-05-13 21:16] #403 closed

[2021-05-14 23:23] KCSesh commented on #207
I am actually seeing an issue on AL2 as well:

[code]

I followed these steps suggested by @ArangoGutierrez :

1.Have an /etc/yum.repos.d/centos.repo that looks like:
[code]

In /etc/yum.repos.d/amzn2-core.repo comment out priority=10 line for [amzn2-core] repo

sudo yum -y install podman --enablerepo=centos-base

[2021-05-15 09:39] rhatdan commented on #207
Complain to Docker Inc to use the systems runc rather then requiring their own, or if they require their own, install it in a not system default directory, so the distributions runc can be used.

[2021-05-15 21:17] lsm5 commented on #207
@KCSesh the steps that @ArangoGutierrez mentioned will only work on AL2 for the last shipped podman in CentOS Extras (*not* Kubic). The `devel_kubic_libcontainers_stable` won't help on AL2 for podman. Consider building from source or switching to a newer distro.

[2021-05-17 17:15] KCSesh commented on #207
@lsm5 You mind giving more details?

I just spun up an AL2 instance to try and install podman.

Are you saying that I need to configure the instance to use the CentOS Extras repos and not Kubic?
I can modify the configuration of the repos if needed.

I guess I am wondering what the difference is between my AL2 instance and @ArangoGutierrez AL2 instance.

[2021-05-17 17:25] lsm5 commented on #207
See: https://podman.io/blogs/2021/03/02/podman-support-for-older-distros.html . Whatever's said in there for CentOS 7 also applies to AL2.

The steps that @ArangoGutierrez mentioned will only be good enough for getting you the podman version that was last shipped on CentOS7. In other words, you won't get anything newer than v1.6.2.

If you want anything newer than v1.6.2 on AL2, your best (if not,

[2021-05-17 19:06] KCSesh commented on #207
Thanks @lsm5 that was helpful.

I was able to successfully build podman from source on AL2.

[code]

[2021-05-26 13:26] eriksjolund commented on #389
I noticed that
http://docs.podman.io/en/v3.0.1/markdown/podman-run.1.html
contains the text:

–log-driver=”driver”

I expected to find the text:

--log-driver

[2021-05-26 14:53] rcowsill commented on #389
@eriksjolund v3.0.1 was released before the original fix containers/podman#9856. It looks like all the double dashes in v3.0.1 are shown as en dashes, except those in a code/pre block.

[2021-05-26 18:13] eriksjolund commented on #389
@rcowsill Yes, you're right.
 I see that for instance that http://docs.podman.io/en/v3.1.0/markdown/podman-run.1.html has the correct type of dashes.

[2021-06-02 19:01] faisalrazzak opened #412 "Podman: Container image signing & verification in k8s clusters"
I am following up on conversation on community meeting on June 1st, 2021 [(link)](https://hackmd.io/fc1zraYdS0-klJ2KJcfC7w)

1.  It would be nice to document or explore container image signing & verification in k8s clusters using Podman.
2. It was brought up that some internal meetings are being planned so it would be nice to open those discussions to a larger community especially on signing and v

[2021-06-09 09:53] srbala commented on #369
use `www` in domain leads to the error. SSL certificate does not account for www versus non-www variations of the domain. Repository `CNAME` file defined as `podman.io`.

https://www.podman.io SSL error link
https://podman.io No-issue link
http://www.podman.io get redirected to https witout issues/error

[2021-07-19 14:40] oneofthemany commented on #383
I know slightly off topic, but I have been using fedora 34 with podman on my pi for approx 5 months now - aside from boot time on update I have no issues and I am running

[code]

[2021-07-21 06:42] djohn156 opened #431 "Update installation instructions to use podman in a WSL machine"
This has been previously discussed in [a podman issue](https://github.com/containers/podman/issues/5722).

On the (Podman Installation)[https://podman.io/getting-started/installation] page, for installing podman in a WSL machine, the article (How to run Podman on Windows with WSL2)[https://www.redhat.com/sysadmin/podman-windows-wsl2]. Though the article is well written and a good starting point, s

[2021-07-21 14:48] rhatdan commented on #431
@baude PTAL, could you get the original updated?

[2021-08-26 11:41] adrian5 opened #441 "docs.podman.io version links aren't HTTPS"
On [docs.podman.io](https://docs.podman.io/) the version links presented when clicking on **v:latest** all use `http://` URLs that don't upgrade to `https://` (for me) when visited. Consider changing them to `https://`.

[2021-08-28 22:22] TomSweeneyRedHat commented on #441
I'm going to close this.  As it turns out, there was a check box deep down in our ISP control panel that was unchecked to force HTTPS.  I've just clicked that box and everything is using https now.

[2021-08-28 22:22] #441 closed

[2021-08-31 20:03] Chealer opened #444 "Open source / free software nature not prominently advertised"
According to _[What is Podman?](https://docs.podman.io/en/latest/)_, Podman is open source, unlike its competitor Docker. If this is exact, this should be prominent and indicated somehow on [Podman's homepage](https://podman.io/), presumably in its second paragraph (Podman description). This could be as simple as describing Podman as "open source", "free software", "FLOSS" or "FOSS", or mentioning

[2021-09-01 14:02] rhatdan commented on #444
Please open a PR, how you would like the description to show.

[2021-09-02 20:41] maxandersen opened #446 "missing gemfile when following how to "Making changes""
[code]

whats the right instructions to build with jekyll?

[2021-09-03 15:41] TomSweeneyRedHat commented on #446
See https://github.com/containers/podman.io/pull/370, I'll try to update the README.md

[2021-09-13 07:33] tnk4on opened #455 "Permission to translate blog posts"
I would like to translate some of the blog posts published on Podman.io.
Do I need to ask the author for permission in any way?

I plan to post the translated article on the Red Hat Japan blog.
https://rheb.hatenablog.com/

[2021-09-13 18:00] rhatdan commented on #455
If they are Red Hat authors, then their should be no problem.  Other authors you should get permission from.

[2021-09-13 18:00] #455 closed

[2021-09-13 18:38] TomSweeneyRedHat commented on #455
@tnk4on Thanks for taking this on!

As @rhatdan noted, feel free for any Red Hat authored post.  I believe most of the other authors would be just fine with the translation too, but I'd hit each one up with a quick email.

If you need any help outside of the actual translation, please let me know.

t

[2021-09-17 00:46] tnk4on commented on #455
Thank you for confirming! I posted the first translated article.
https://rheb.hatenablog.com/entry/podman-on-macs

As with other translated articles, I wrote link back to the original English version at the beginning article and this, "Translated with permission from Podman.io."

[2021-09-17 12:14] rhatdan commented on #455
Awesome thanks.  We can start adding links on podman.io

[2021-09-17 19:47] TomSweeneyRedHat commented on #455
@tnk4on thanks!  WIll there be a top-level link we could add somewhere that would point to the translated Podman articles?

[2021-09-19 07:27] afbjorklund opened #458 "Add installation instructions link to running podman with lima"
https://github.com/lima-vm/lima

It is possible to swap containerd for podman, and the experience should be similar to running under WSL (#431)

So it could deserve a similar mention and link, even if there is no Sysadmin article written (yet?) as far as I know.

See https://github.com/containers/podman/issues/11533#issuecomment-921858956

[2021-09-19 07:29] afbjorklund commented on #431
You might also want to reference the **new** article: <https://www.redhat.com/sysadmin/podman-windows-wsl>

[2021-09-19 07:29] afbjorklund commented on #458
The original blog post: https://medium.com/nttlabs/containerd-and-lima-39e0b64d2a59

[2021-09-19 20:23] tnk4on commented on #455
@TomSweeneyRedHat Currently, the link to the translated source article is set as follows in Markdown in the article writeup.

[code]

Sorry for the confusion, the link is white in the CSS design.
It is also possible to display the title and link separately. Would this be better?

[code]

[2021-09-20 15:10] TomSweeneyRedHat commented on #455
@tnk4on Thanks, but what I was hoping for is that you will translate several posts over time.  Will you have a link that I could send people to and they would then be able to see all the posts you had translated to that point?  The links that you sent me prior worked fine, I am just hoping to not have to create a link on the site for each post that you translate.

[2021-09-21 21:12] tnk4on commented on #455
@TomSweeneyRedHat
I have created a fixed page. This is a list of translated articles that have been posted on this blog in the past.
How about using this link?
https://rheb.hatenablog.com/podman-jp-translate

I plan to continue with Podman related translated articles in the future. Where would be the appropriate place to continue to communicate about translations? (IRC/Discord ? or GitHub discussi

[2021-09-23 22:05] Chealer commented on #444
@rhatdan can you clarify what you mean by "PR"?

[2021-09-24 15:50] TomSweeneyRedHat commented on #444
@Chealer in @rhatdan speak, PR == Pull Request

[2021-09-26 03:44] mprofitt opened #460 "Podman Auto-Update"
Following "Autoupdate with local policy" example with Debian 11...
https://manpages.ubuntu.com/manpages/impish/man1/docker-auto-update.1.html

I keep getting this error and unable to resolve.
Error: 2 errors occurred:
        * invalid auto-update policy "local": valid policies are ["disabled" "image"]
        * invalid auto-update policy "local": valid policies are ["disabled" "image"]
I have 2 d

[2021-09-26 10:19] rhatdan commented on #460
@vrothberg PTAL

[2021-09-27 07:19] vrothberg commented on #460
Thanks for reaching out, Mike.

Podman in Debian 11 does not support the "local" policy; it has been added with a later version.  I suggest having a look at the Debian man pages instead.

[2021-09-27 07:19] #460 closed

[2021-09-29 20:59] Chealer commented on #444
Thanks @TomSweeneyRedHat

If we are asked to "open" a merge request, we do not have any branch (let alone any change) solving this.

[2021-10-19 05:33] tnk4on opened #469 "[blog: multiarch] "Push" does not succeed in the example procedure"
I ran the following sample according to the contents of [the blog](https://podman.io/blogs/2021/10/11/multiarch.html). The push does not succeed with this procedure. (My repository is public and empty)
[code]

This will work.
[code]

Doesn't `podman tag` support manifests?
[code]

[2021-10-19 21:49] cevich commented on #469
Hmmm, there was an issue in buildah about this, it is possible it didn't get fixed in `3.4`.  Def. try using `podman manifest tag`.

I'll investigate and adjust the article accordingly.  Thanks for reporting.

[2021-12-04 18:45] TomSweeneyRedHat commented on #444
@mairin here's one for your design work.  I tried to assign it to you, but GitHub wouldn't hear of it.

[2021-12-06 17:11] mairin commented on #444
@TomSweeneyRedHat Ah I think the trick is if I comment it'll let you assign to me. Let's see if it works!

[2021-12-06 19:13] TomSweeneyRedHat commented on #444
Looks to be the case @mairin , it's all yours now and thanks!

[2021-12-06 19:23] mairin commented on #444
@Chealer I have some WIP mockups for a new podman.io front page and features pages, and I would love your feedback on whether or not you feel they address highlighting Podman's open source nature.

Here is the first page... I added by the latest stable version number under the main call-to-action buttons in the hero banner that the license is Apache 2.0:
![Screenshot from 2021-12-06 14-22-06](http

[2021-12-09 23:35] Chealer commented on #444
Thank you very much @mairin
I will not comment on the Features page proposal, but the homepage revamp looks quite promising. Considering that some may not know about the Apache license (which is not quite as known as - say - the GPL), I would argue that the proposed homepage mention is fairly subtle. But even adding a subtle advertisement on the homepage surely largely increases prominence, and I

[2021-12-11 15:13] BonaBeavis opened #481 "Installation instruction for Ubuntu with kubic ppa are deprecated"
They do not work anymore, [here](https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Astable&package=podman) are the current working ones.

[2022-01-10 17:15] ConorSheehan1 opened #485 "podman docs versions out of sync"
`podman machine init` doesn't support the `--volume` flag anymore, but it's still on the [latest docs](https://docs.podman.io/en/latest/markdown/podman-machine-init.1.html#volume-v-source-target).

![Screenshot 2022-01-10 at 17 02 35](https://user-images.githubusercontent.com/16896053/148807051-e57de926-f386-4b2b-a21c-4e6b0ea81269.png)

Going to the latest version [(3.4.4)](https://docs.podman.io/

[2022-01-10 21:10] TomSweeneyRedHat commented on #485
@ConorSheehan1 thanks for the problem report.  I don't think it's a ReadTheDocs issue after all, but something we might want to be a little more clear on or perhaps change our man page updating process.  The docs that are shown in the top-level directory for [docs.podman.io](docs.podman.io) are all driven from the ones in this directory [https://github.com/containers/podman/blob/main/docs/source/m

[2022-01-10 21:19] afbjorklund commented on #485
It is probably the opposite, the features on `main` are not in releases ?

[2022-01-10 21:29] afbjorklund commented on #485
Probably not ideal, to use "latest" with two different meanings for docs and for releases.

https://docs.podman.io/en/latest/

https://github.com/containers/podman/releases/latest/

[2022-01-10 21:35] afbjorklund commented on #485
@TomSweeneyRedHat : For this particular feature, one might want to mention that it doesn't work on Mac with the current QEMU. That is, you have to patch and recompile qemu until sometime in the ballpark of QEMU 7.0 or whenever it lands ?

[2022-01-17 06:12] ThorManager opened #486 "Can podman use cluster mode?"
We can't use k8s in our environment. Is there any other cluster technology that can be implemented? such as docker swarm？

[2022-01-17 12:17] rhatdan commented on #486
No, we have no intention of implementing Docker Swarm.

[2022-01-17 12:17] #486 closed

[2022-01-17 12:18] rhatdan commented on #486
Why is K8s not allowed?

[2022-01-19 14:37] TomSweeneyRedHat commented on #486
@ThorManager your questions are always welcomed, but as an FYI, if you have a question like this one that is Podman specific, it is probably better to create an issue on the [Podman](https://github.com/containers/podman/issues) project's repo.  You'll get more of the Podman maintainers looking at it there than here.  This project is just for the podman.io website and fewer of the maintainers watch

[2022-03-01 16:04] javatlacati opened #501 "Windows installation broken link"
on https://podman.io/getting-started/installation#windows if you click the link that says [Latest remote client for Windows](https://github.com/containers/podman/releases/latest/download/podman-remote-release-windows.zip) you will get to a screen that says not found

[2022-03-04 08:13] computator commented on #431
Both of these articles are probably outdated now with the release of Podman 4.0.

[2022-03-04 15:16] TomSweeneyRedHat commented on #431
ping @baude

[2022-03-05 22:15] tippacanoe opened #504 "make BUILDTAGS Error 2 - btrfs not found"
Attempting to build the latest version of Podman on a Rocky 8.5 machine. After cloning the repo and running make BUILDTAGS="", the following occurs:

Podman is being compiled without the systemd build tag.         Install libsystemd on Ubuntu or systemd-devel on rpm based      distro for journald support.
CGO_ENABLED=1 GOOS=linux GOARCH=amd64 go build \
        -mod=vendor  \
        -ldflags '-X

[2022-03-06 14:13] rhatdan commented on #504
Install gpgme-devel
and
Add exclude_graphdriver_btrfs

[2022-03-06 14:14] #504 closed

[2022-03-07 11:37] rvandernoort opened #506 "Catatonit requirement not in docs"
I was working on creating containers in pods, reproducing [this](https://github.com/containers/podman/issues/13266) issue when I stumbled on a dependency issue, which disallowed me to create the container in the pod. Whenever I ran the container in the pod it returned that it could not get the namespace as the infra container had exited. When logging the infra container it showed me
[code]
Aperent

[2022-03-07 16:52] tippacanoe commented on #504
This worked perfectly, thank you!

[2022-03-07 22:12] TomSweeneyRedHat commented on #506
@baude @mheon thoughts?

[2022-03-24 19:49] sondermc opened #514 "running 'podman unshare' as an unprivileged user returns a shell as 'root'"
Hello community,

I'm for years now using this great tool but now I bumped into a horrible situation which I didn't notice before. I run Fedora 35 and installed podman from the fedora repositories. I was playing around with the mounting of volumes as an unprivileged user. Here is the snippet of my experience.

[foo@bar ~]$ id
uid=1000(foo) gid=1000(foo) groups=1000(foo),10(wheel),107(qemu),977(wir

[2022-03-24 20:01] rhatdan commented on #514
This is working as expected.  You are not root, you are just root within the user namespace.  If you look at the content of your homedir, while in unshare, you should notice all the files in your homedir are owned by root, if you exit the unshare then they will be owned by you again.  This is just user namespace faking that you are root.

https://opensource.com/article/18/12/podman-and-user-namesp

[2022-03-24 20:01] #514 closed

[2022-03-24 20:18] sondermc commented on #514
aha. confirmed. I cannot do real 'root' tasks. That scared the s*$t out of me. Thanks!

[2022-03-25 13:05] TomSweeneyRedHat commented on #514
@sondermc for future reference, we do appreciate the issue report, but if you have one in the future for Podman, please report the issue against the [Podman](https://github.com/containers/podman) GitHub repo instead.  This repo is used for the podman.io blog site and has a lot fewer Podman maintainers monitoring this repo.

[2022-03-25 17:06] afbjorklund commented on #506
I thought catatonit was supposed to be included with (and upgraded with) podman, in `/usr/libexec/podman/catatonit`

Looks like some packagers have decided to symlink this to the system installation, and thus it breaks accordingly...

[2022-03-25 17:12] mheon commented on #506
I was going to say that it was in https://github.com/containers/podman/blob/main/DISTRO_PACKAGE.md (our packaging guide for Podman) but evidently it is not. I think we need to get it added there, and then make the packaging guide more visible on podman.io

[2022-03-25 17:16] afbjorklund commented on #506
Most likely there is some `podman run --init` test missing from the regression tests, as well.

[2022-03-27 13:53] aebd37cab9ff742b opened #515 "Nix static build no longer supported"
Recently the installation of Podman via Nix has been discontinued it seems:

https://github.com/containers/podman/commit/346beec35a11393e9c59278d47b18de337c2b06f

The installation instructions need to be amended. At first I wanted to make the changes my self, but I am not sure about the implications for static builds in general.

https://github.com/aebd37cab9ff742b/podman.io/blob/e0d8c4306de702b10

[2022-03-28 20:22] #515 closed

[2022-04-13 12:39] lsm5 commented on #506
I can fix the docs RE: fedora.

Anything RE: debian/ubuntu is best handled by a user or the package maintainer.

@afbjorklund is this the case with the default debian package? If it's from the Kubic, then that'd be a WONTFIX from my side.

[2022-04-13 12:41] lsm5 commented on #481
Kubic installation steps have now been removed. See: https://podman.io/blogs/2022/04/05/ubuntu-2204-lts-kubic.html

Closing.

[2022-04-13 12:41] #481 closed

[2022-04-13 12:43] lsm5 commented on #383
This can be closed. Raspberry Pi OS can use debian's own arm64 repos and that's mentioned in the current version of the installation doc.

[2022-04-13 12:43] #383 closed

[2022-04-13 12:44] lsm5 commented on #359
Closing. Debian 11 has podman by default and Kubic support has been stopped.

[2022-04-13 12:44] #359 closed

[2022-04-13 15:10] afbjorklund commented on #506
I don't think debian had any package for gvisor-tap-vsock, so gvproxy is missing.

[2022-05-05 14:25] senges opened #526 "Global installation script"
Docker (and other projects) provides an URL endpoint to download a distribution agnostic installation script : `https://get.docker.com`.

Makes installation procedure super intuitive as it makes possible for anyone to install Docker on any Linux distribution without searching all the steps on the internet.

[code]

I know this kind of `curl | bash` is considered bad practice. However, used with ca

[2022-05-05 14:30] TomSweeneyRedHat commented on #526
It's not something that has been considered.  I like the thought, but I am a bit concerned about the potential security issues surrounding the idea.  I'm certainly open to exploring further if you or others want to propose something.

[2022-05-05 19:56] rhatdan commented on #526
Podman is an opensource mode, not a pure software company behind it.  Podman works in the distribution model, and we believe that you should get your software from your distributions.  We might make an exception for Mac and Windows, because they are based on a different model.

Podman also relies on many different packages and these differ based on the distribution.  containers-selinux makes no se

[2022-05-05 19:56] #526 closed

[2022-05-05 21:09] senges commented on #526
I would be very happy to discuss security concerns and work on a few suggestions ! To illustrate, [this would be](https://gist.github.com/senges/68a5bf78cb1557925d1362d2d3a91bfc) a basic naive version of what I had in my mind. I don't really know where is the proper place to discuss this and suggest code tho.

I think you've slightly missed the point of my suggestion, correct me if I'm wrong. My i

[2022-05-06 13:56] TomSweeneyRedHat commented on #526
@senges FWIW, what you were thinking "but to offer a bash script that would apply the proper [installation procedure](https://podman.io/getting-started/installation) based on the current OS release name" is what I was thinking you were saying too.  We're on the same page, WOOT!

[2022-05-19 17:07] Krinkle commented on #213
Still the case fwiw:
<img width="926" alt="Screenshot 2022-05-19 at 18 06 22" src="https://user-images.githubusercontent.com/156867/169357725-298931ab-2ad5-48a7-9c27-3012c16758a8.png">

[2022-05-19 17:57] Krinkle commented on #213
This is still the case fwiw:
<img width="400" alt="Screenshot 2022-05-19 at 18 06 22" src="https://user-images.githubusercontent.com/156867/169357725-298931ab-2ad5-48a7-9c27-3012c16758a8.png">

From https://github.com/containers/podman.io/pull/256:

Unfortunately, this doesn't work.

Firstly, very few RSS readers actually do anything with the `category` terms in the RSS feed, which means the exist

[2022-06-26 10:05] senges commented on #526
Sorry had a lot going on in my life recently, I'm working on the script right now. Will make a PR very soon so you can have a glance at it. Keep you updated 👍

[2022-07-25 02:53] sequpt opened #540 "Older `go` version in `Get Source Code` doesn't match the newer one in `Building missing dependencies `"
The `go` version in [Building missing dependencies](https://github.com/containers/podman.io/blob/main/getting-started/installation.md#golang) is `1.16.x` (updated from `1.12.x` in 8cbc2a70f47328f92c3de16cdfc42dd64b891903).

https://github.com/containers/podman.io/blob/adbb36e703f636b698bac6e5c5847c83576d1fc7/getting-started/installation.md?plain=1#L316

But the version in [Get Source Code](https:/

[2022-07-30 22:21] TomSweeneyRedHat commented on #366
This has been fixed.

[2022-07-30 22:21] #366 closed

[2022-07-30 22:22] TomSweeneyRedHat commented on #391
Closed with #395

[2022-07-30 22:22] #391 closed

[2022-07-30 22:26] TomSweeneyRedHat commented on #501
this has been updated, the link has been removed an replaced with page devoted to [Windows installation](https://github.com/containers/podman/blob/main/docs/tutorials/podman-for-windows.md).

[2022-07-30 22:26] #501 closed

[2022-08-05 19:16] eriksjolund commented on #389
The following command downloaded 352 files.
[code]

I then searched recursively for EN DASH
[code]

Those seems to be legitimate. The problem seems to be gone. (At least under https://docs.podman.io/en/latest/)

[2022-08-05 19:16] #389 closed

[2022-08-09 14:39] fulldecent opened #547 "Remove duplicate documentation"
The documentation is currently hosted at:

- https://podman.io (canonical)
- https://docs.podman.io (extra copy, with ads)

Please remove the docs.podman.io version and redirect it to the apex domain. Having the documentation in only one place makes it easier to find and maintain.

[2022-08-09 14:41] fulldecent commented on #547
Actually, I'm not even sure if this is a duplicate or how this website works. But it would be ideal if the entire website was checked into the /docs/ folder in this repository and the whole thing was hosted from GitHub Pages onto one domain name.

[2022-08-09 15:00] TomSweeneyRedHat commented on #547
@fulldecent, it's a bit messier than that, unfortunately.  The documentation lives on readthedocs.org, and with each build, any new updates are moved there from Podman's GitHub repo, https://github.com/containers/podman/tree/main/docs/source.  Then via some DNS hackery, we translate docs.podman.io to the ReadTheDocs site.

We've had conversations in the past and haven't landed on a cleaner spot to

[2022-08-09 15:45] fulldecent commented on #547
Ah, okay, so it's:

- https://github.com/containers/podman.io ----GitHub Pages----> podman.io
- https://github.com/containers/podman ----ReadTheDocs/tricks ----> docs.podman.io

---

Here is an option to make it simpler while maintaining the "documentation" to be in the project repo:

1. In containers/podman add a GitHub Action for each commit to main branch:
    1. Checkout containers/podman and

[2022-08-09 21:50] TomSweeneyRedHat commented on #547
@fulldecent I think it's more like:

    * https://github.com/containers/podman.io ----GitHub Pages--pushes to--> podman.io
    * https://github.com/containers/podman/docs/source ----ReadTheDocs/tricks ---pushes to-> ReadTheDocs
    * docs.podman.io --points to--> ReadTheDocs

The last one is through some special settings in DNS and the ReadTheDocs website.

The thought that I had muddling around

[2022-08-10 10:53] rhatdan commented on #547
The problem moving the docs directory somewhere else is it would eliminate PRs from checking to make sure new options are documented.  With @edsantiago  new changes to how we build the content, there is a chance we could link the man pages across.

[2022-09-28 15:38] piotr-sk opened #557 "Installation instructions with netavark and aardvark-dns for Debian/Ubuntu"
Since Podman 4.0 the `netavark` and `aardvark-dns` are recommended network backends, but there is no official installation instruction (or package) available for Debian/Ubuntu.

This is a request to update getting-started/installation.md and other related pages.

[2022-10-01 16:11] phlummox opened #560 "Unclear dependencies"
Currently, the [installation instructions for building podman from source][building] say that

[building]: https://github.com/containers/podman.io/blob/2a159abffab6e59efc61fc9f5c1c0772cfb44f56/getting-started/installation.md?plain=1#L424

It's not at all clear to me from this what the minimum version for `crun` is. The first sentence says "the latest version is *expected* [my emphasis]" (is this a

[2022-10-01 16:31] phlummox opened #561 "Dependencies inconsistent with `crun`"
Currently, the [installation instructions for building Podman from source][building] say that `pkg-config` is a prerequisite for building Podman on Ubuntu, but they [also suggest][crun] that it may be necessary to build `crun` or `runc` from source if the version isn't recent enough (which in my case it wasn't) – and the build instructions for `crun` [state that `pkgconf`][pkgconf] needs to be ins

[2022-10-25 21:02] TomSweeneyRedHat commented on #561
Sorry @phlummox, this fell into my bit bucket, and unfortunately, I don't have the Ubuntu savvy to answer the questions.  @lsm5 do you by chance know or know who might?

[2022-10-27 10:09] lsm5 commented on #561
@giuseppe PTAL. do you know if the crun build instructions can use pkg-config instead of pkgconf on ubuntu?

[2022-10-27 10:59] giuseppe commented on #561
I think `pkg-config` should be fine.

@phlummox have you tried building crun with `pkg-config`?  Have you found any issue?

[2022-11-01 01:20] phlummox commented on #561
I haven't tried building crun with `pkg-config` yet. I'll let you know once I do.